rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {

      // Allow read and write access to the user's own document if authenticated
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Allow read access to the master user's document for everyone
      allow read: if request.auth != null && userId == 'master';

      // Allow write access to the master user's document only for the master user
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    match /users/{userId}/{document=**} {
      // Allow read and write access to the user's own documents if authenticated
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Allow read access to the master user's documents for everyone
      allow read: if request.auth != null && userId == 'master';

      // Allow write access to the master user's documents only for the master user
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
  }
}